<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LockScreenRN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>40ECBB6CD801C8E7E5AE09DBF8C918465F1A7544</string>
				<key>dateExpires</key>
				<string>3/3/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>40ECBB6CD801C8E7E5AE09DBF8C918465F1A7544</string>
						<key>dateExpires</key>
						<string>3/3/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Y6H36C6U8</string>
						<key>name</key>
						<string>Justin Tharpe</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8Y6H36C6U8.com.owd.lockscreenrn</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8Y6H36C6U8</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>LockScreenRN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3ace49a7-e80d-46f5-be8d-f855c4c97602</string>
				<key>dateExpires</key>
				<string>12/9/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8Y6H36C6U8</string>
				<key>name</key>
				<string>Justin Tharpe</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
